* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 185, 185);
}

.top-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(190, 185, 185);
}

#header {
  height: 3rem;
  background-color: black;
}

.entry {
  height: 7rem;
  width: 70%;
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.entry a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgb(92, 90, 90);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.entry a:hover {
  background-color: rgb(159, 155, 155);
}

h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
}

.container {
  width: 90%;
  margin: auto;
  background-color: rgb(159, 155, 155);
}

.container .event_info {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container .event_info .host-mess {
  display: flex;
  flex-direction: row;
}

.container .event_info p {
  color: rgb(180, 23, 23);
  font-size: 1.5rem;
  margin: auto;
}

.container .event_info #host,
.details {
  text-transform: capitalize;
  text-align: left;
  font-size: 2.5rem;
  color: rgb(92, 90, 90);
  font-weight: bold;
  letter-spacing: 2px;
  padding: 2rem;
}

.container .event_info .details {
  font-size: 2rem !important;
}

.container .event_info .current-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.container .event_info .current-info .user-info {
  padding-bottom: 2rem;
  width: 40%;
}

.container .event_info .current-info .user-info .spiele-container {
  width: 100%;
  margin-top: calc(14px + 2.25rem);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.container .event_info .user-info .spiele-container .spiele {
  width: 100%;
  padding: 0.65rem;
  margin: 0 0 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.container .event_info .current-info .spiele-container .spiele a,
span {
  color: rgb(92, 90, 90);
}

.container .event_info .spiele a:hover {
  color: rgb(136, 132, 132);
}

#sep-host {
  height: 2rem;
  background-color: rgb(190, 185, 185);
}

#sep-info {
  width: 2rem;
  background-color: rgb(190, 185, 185);
}

.container .event_info .current-info .host-info {
  width: 60%;
  padding-bottom: 2rem;
}

table {
  width: 100%;
  margin-top: 1rem;
}

tr,
td {
  border: 1px solid rgb(92, 90, 90);
  margin: auto;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: white;
}

th {
  background-color: rgb(92, 90, 90);
  padding: 10px;
}

.result {
  text-align: center;
}

#footer {
  width: 80%;
  margin: auto;
  padding: 1rem;
  color: rgb(92, 90, 90);
}
