* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 185, 185);
}

#logo {
  font-size: 3rem;
}

h1 {
  text-align: center;
}

#header {
  height: 3rem;
  background-color: black;
}

.container1 {
  height: 7rem;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container1 a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgb(92, 90, 90);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.container1 a:hover {
  background-color: rgb(159, 155, 155);
}

#content {
  background-color: rgb(159, 155, 155);
}

.container2 {
  background-color: rgb(159, 155, 155);
  width: 65%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.container2 h1 {
  text-align: left;
  font-size: 4rem;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
}

.container2 .c2-item1 p {
  color: white;
  margin-bottom: 2rem;
}

.container2 .c2-item1 a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgb(92, 90, 90);
  padding: 7px 15px;
  color: white;
  font-weight: bold;
}

.container2 .c2-item1 a:hover {
  background-color: rgb(118, 117, 117);
}

#user-form-container .error {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  color: red;
}

#user-form-container .success {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  color: green;
}

.container2 .c2-item1 #user-form-container {
  margin-top: 3rem;
}

.container2 .c2-item1 #user-form-container .form-content {
  width: 95%;
  display: grid;
  grid-template-columns: 0.5fr 1.3fr;
  grid-template-rows: repeat(3, 1.2rem);
  gap: 0 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}

.container2 .c2-item1 #user-form-container .user-daten {
  height: 2.2rem;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(190, 185, 185);
  outline-color: rgb(118, 117, 117);
}

.container2 .c2-item1 #user-form-container #usubmit {
  background-color: rgb(92, 90, 90);
  padding: 7px 15px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.container2 .c2-item1 #user-form-container #usubmit:hover {
  background-color: rgb(118, 117, 117);
}

.container2 .c2-item2 {
  height: inherit;
  width: 125%;
}

.container2 .c2-item2 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#table {
  border: none !important;
}

#table,
.id,
.event {
  border: 1px solid black;
  width: 65%;
  margin: auto;
  padding-bottom: 15px;
  font-size: 1.5rem;
  color: white;
}

th {
  background-color: rgb(92, 90, 90);
  padding: 10px;
}

#limit {
  width: 100%;
}

.id {
  width: 25%;
}

.enroll {
  text-decoration: none;
  background-color: rgb(92, 90, 90);
  color: white;
  padding: 10px;
  font-size: 1.25rem !important;
}

.enroll:hover {
  background-color: rgb(118, 117, 117);
}

#sep {
  height: 25px;
  width: 65%;
  margin: auto;
}

#footer {
  width: 60%;
  margin: auto;
  padding: 1rem;
  color: rgb(92, 90, 90);
}
