* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 185, 185);
}

#header {
  height: 3rem;
  background-color: black;
}

.entry {
  height: 7rem;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.entry a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgb(92, 90, 90);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.entry a:hover {
  background-color: rgb(159, 155, 155);
}

h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(92, 90, 90);
}

#title {
  align-self: center;
}

#bg-color {
  background-color: rgb(159, 155, 155);
  width: 90%;
  margin: auto;
}

.container {
  width: 80%;
  background-color: rgb(159, 155, 155);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}

.container .list_spiele {
  list-style-type: decimal;
  width: 35%;
  margin: auto;
  padding: 2rem;
}

.container .list_spiele li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 5px;
  color: rgb(92, 90, 90);
}

.container .list_spiele li a {
  color: rgb(92, 90, 90);
}

.container .list_spiele li a:hover {
  color: rgb(121, 119, 119);
}

#sep {
  width: 2rem;
  background-color: rgb(190, 185, 185);
}

.container .ergebnisse-info {
  text-transform: capitalize;
  width: 65%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

table {
  width: 100%;
}

tr,
td,
th {
  border: 1px solid rgb(92, 90, 90);
  margin: auto;
  padding: 7px;
  font-size: 1.25rem;
  color: white;
}

th {
  background-color: rgb(92, 90, 90);
}

.result {
  text-align: center;
}

#footer {
  width: 90%;
  margin: auto;
  padding: 2rem;
  color: rgb(92, 90, 90);
}
