* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 185, 185);
}

#header {
  height: 3rem;
  background-color: black;
}

.entry {
  height: 7rem;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.entry a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgb(92, 90, 90);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.entry a:hover {
  background-color: rgb(159, 155, 155);
}

h1,
h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
}

.container {
  width: 100%;
  background-color: rgb(159, 155, 155);
}

.container .tipp_genau_info {
  text-transform: capitalize;
  width: 60%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h2 {
  font-size: 2.5rem;
  color: rgb(92, 90, 90);
}

table {
  width: 100%;
}

tr,
td {
  border: 1px solid black;
  margin: auto;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
}

th {
  background-color: rgb(92, 90, 90);
  padding: 10px;
}

td {
  font-size: 1.25rem !important;
}

.tipp-genau {
  text-align: center;
}

#footer {
  width: 60%;
  margin: auto;
  padding: 1rem;
  color: rgb(92, 90, 90);
}
