* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 185, 185);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
}

#header {
  height: 3rem;
  background-color: black;
}

.container {
  width: 60%;
  min-height: 50vh;
  margin: auto;
  margin-top: 5rem;
}

.container .items {
  width: 60%;
  display: grid;
  grid-template-columns: 0.5fr 1.3fr;
  grid-template-rows: repeat(3, 1.2rem);
  gap: 0 2rem;
  color: rgb(84, 83, 83);
  font-size: 1.2rem;
  font-weight: bolder;
}

.container .error {
  margin: 0 0 3px 0;
  padding: 10px;
  color: red;
}

.container .success {
  margin: 0 0 3px 0;
  padding: 10px;
  color: green;
}

.container .items .user-register {
  height: 2.2rem;
  border: 1px solid white;
  background-color: white;
  outline-color: rgb(118, 117, 117);
}

.container #u-register {
  background-color: rgb(92, 90, 90);
  margin: 2rem 0 2rem 0;
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.container #u-register:hover {
  background-color: rgb(118, 117, 117);
}

#request {
  margin-top: 2rem;
  color: rgb(92, 90, 90);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

#request a {
  font-size: 1.25rem;
  font-weight: bolder;
  color: rgb(92, 90, 90);
}

#footer {
  width: 60%;
  margin: auto;
  padding-top: 2rem;
  color: rgb(92, 90, 90);
}
